body {
	padding: 20px;
}

.form {
	width: 300px;
}

@media (max-width: 481px) {

	.form {
		width: 100%;
	}

}

.data-preloader {
	display: none;
}

#result-table, #result2-table {
	display: none;
}
	#result2-table {	
		margin-top: 100px;
	}
