#tabulkyPage {
	background-color:#333333;
	position: absolute;
	left:0px;
	right:0px;
	top:5px;
	bottom:0px;
	padding:22px 35px;
}

#tabulkyPage header.select {
	margin-top: -10px;
}

#tabulkyPage .note {
	margin-bottom:4px;
}

/* zoom control */
.zoomControl.tabulky {
	top: 15px;
	right:33px;
}

.zoomControl.tabulky .scale {
	display:none;
}

.zoomControl.tabulky .country div, .zoomControl.tabulky .county div, .zoomControl.tabulky .district div {
	background-color:#666666;
}

.zoomControl.tabulky .country div.selected, 
.zoomControl.tabulky .country div.active, 
.zoomControl.tabulky .county div.selected, 
.zoomControl.tabulky .county div.active, 
.zoomControl.tabulky .district div.active, 
.zoomControl.tabulky .district div.selected {
	background-color: #FFDE00;
}

/* first col */

#tabulkyPage .rankings {
	display:none;
}

#tabulkyPage .crimesSelect {
	display:none;
}

#tabulkyPage .firstCol, #tabulkyPage  .secondCol {
	float:left;
}

#tabulkyPage a.downloadBtn {
	display:block;
	margin-right:51px;
}

#tabulkyPage .rankings a.downloadBtn {
	margin-right: 93px;
}

#tabulkyPage header a.downloadBtn div {
	width:110px;
	height:20px;
	background: url("../images/tabulky-downloadBtn.png") #666666 12px 8px no-repeat ;
	text-transform: uppercase;
	font-family: "RobotoMedium";
	float:left;
	text-align: center;
	padding:8px 0px 0px 18px;
	font-size:11px;
	border-right:0px;
}

#tabulkyPage a.downloadBtn:hover div {
	background-color: #ffde00;
	color:#333333;
	background-image: url("../images/tabulky-downloadBtn-over.png");
}

#tabulkyPage .firstCol header {
	overflow: hidden;
}

#tabulkyPage .firstCol header div, #tabulkyPage .firstCol header a {
	background-color:#666666;
	text-transform: uppercase;
	float:left;
}

#tabulkyPage .firstCol header div {
	font-family: "RobotoMedium";
	font-weight:normal;
	padding:5px 67px;
	font-size:14px;
	border-right:1px solid #8c8c8c;
}

#tabulkyPage .firstCol header div.first {
	border-left:1px solid #8c8c8c;
	border-right: 0px;
	width:59px;
}

#tabulkyPage .firstCol header div.second {
	border-left:1px solid #8c8c8c;
	padding: 5px 55px;
}

#tabulkyPage td {
	padding:3px 10px 2px 10px;
	text-align:center;
	border:1px solid #8c8c8c;
	font-size:13px;
	font-family:"RobotoMedium";
}

#tabulkyPage th {
	font-size:11px;
	font-weight: normal;
	text-align:center;
	float:none;
	padding-top: 18px;
	text-transform: uppercase;
}

#tabulkyPage .general .left {
	border-right:1px solid #8c8c8c;
	width: 173px;
}

#tabulkyPage th.left, #tabulkyPage th.right {
	
	
}

#tabulkyPage th.index {
	width:33px;
}

#tabulkyPage th.left {
	border-left:1px solid #8c8c8c;
}

#tabulkyPage th.right {
	border-right:1px solid #8c8c8c;
}

#tabulkyPage .types tr.custom {
	/* custom type in type table hidden by default */
	display: none;
}

#tabulkyPage .rankings th {
	cursor: pointer;
}

#tabulkyPage .rankings th span{
	display:block;
	width:5px;
	height:8px;
	float:right;
	margin-top: 3px;
}

#tabulkyPage .rankings th.yellow a{
	color:#ffdf00;
}

#tabulkyPage .rankings th span{
	position:relative;
}

/*#tabulkyPage .rankings th.left span{
	left:-34px;
}

#tabulkyPage .rankings th.right span{
	left:-10px;
}

#tabulkyPage .rankings th.yellow span{
	left:-5px;
}*/

#tabulkyPage .rankings th.forwardSort{
	background:url("../images/tabulky-sortWhiteDown.png") no-repeat 90px 20px;
}

#tabulkyPage .rankings th.forwardSort.right{
	background:url("../images/tabulky-sortWhiteDown.png") no-repeat 48px 20px;
}

#tabulkyPage .rankings th.reverseSort{
	background:url("../images/tabulky-sortWhiteUp.png") no-repeat 90px 20px;
}

#tabulkyPage .rankings th.reverseSort.right{
	background:url("../images/tabulky-sortWhiteUp.png") no-repeat 48px 20px;
}

#tabulkyPage .rankings th.forwardSort.yellow{
	background:url("../images/tabulky-sortYellowDown.png") no-repeat 48px 20px;
	width:9px;
	height:10px;
}

#tabulkyPage .rankings th.reverseSort.yellow{
	background:url("../images/tabulky-sortYellowUp.png") no-repeat 48px 20px;
}

#tabulkyPage a.displayRankBtn div, #tabulkyPage a.displayTypesBtn div
{
	width:110px;
	height:18px;
	background: url("../images/tabulky-zebricekBtn.png") #666666 12px 7px no-repeat ;
	text-transform: uppercase;
	font-family: "RobotoMedium";
	float:left;
	text-align: center;
	padding: 5px 6px 0px 31px;
	font-size:11px;
	border-right:0px;
}

#tabulkyPage a.displayTypesBtn div {
	background: url("../images/tabulky-prehledBtn.png") #666666 12px 7px no-repeat ;
}

#tabulkyPage td.displayRank, #tabulkyPage td.displayTypes  {
	padding:0px;
	border:0px;
	visibility:hidden;
}

#tabulkyPage a.displayRankBtn:hover div,#tabulkyPage a.displayTypesBtn:hover div
{
	background-color: #ffde00;
	color:#333333;
	background-image: url("../images/tabulky-zebricekBtn-over.png");
}

#tabulkyPage a.displayTypesBtn:hover div {
	background-image: url("../images/tabulky-prehledBtn-over.png");
}

#tabulkyPage .total td {
	font-weight:normal;
	font-family: "RobotoMedium";
	font-size:16px;
	padding: 3px 10px;
}

#tabulkyPage tr.active, #tabulkyPage tr.selected
{
	background-color: #666666;
}

#tabulkyPage tr.active td.displayRank, #tabulkyPage tr.selected td.displayRank, #tabulkyPage tr.active td.displayTypes,  td.displayRank#tabulkyPage tr.selected td.displayTypes {
	visibility:visible;
}

#tabulkyPage .firstCol {
	margin-right:20px;
	margin-top: 28px;
}

#tabulkyPage td.first {
	width:158px;
	text-align:left;
	font-family:"Roboto";
}

/* total table */

#tabulkyPage table.total, #tabulkyPage table.types  {
	margin-bottom:12px;
}

#tabulkyPage td.left {
	 border-right: 0px;
	 width:113px;
	 float:none;
}

#tabulkyPage td.right {
	 border-left: 0px;
	 width:40px;
	 float:none;
}

#tabulkyPage .secondCol {
	margin-top: -18px;
	float: right;
}

#tabulkyPage .secondCol h2 {
	margin-bottom: 5px;
	font-size:14px;
	font-weight:normal;
}

#tabulkyPage .secondCol section {
	width:375px;
	border-top:1px solid #808080;
	padding:4px 10px;
}

#tabulkyPage .secondCol section header {
	
}

#tabulkyPage .secondCol .headerWrapper {
	border-bottom:0px;
}

#tabulkyPage .secondCol section h3 {
	margin:0;
	font-size: 16px;
	font-family: "RobotoMedium";
	font-weight:normal;
	color:#ffdf00;
	float: left;
}

#tabulkyPage .secondCol section .hideBtn { 
	width: 14px;
	height: 18px;
	margin-top: 3px;
    margin-right: 10px;
	background:url("../images/hideBtnArrow.png") no-repeat;
	cursor: hand; cursor: pointer; 
	float: right;
}

#tabulkyPage .secondCol section .hideBtnDown { 
	background:url("../images/hideBtnArrow-down.png") no-repeat;
}

/* section item */

#tabulkyPage .secondCol section ul {
	padding: 10px 0 0 23px;
}

#tabulkyPage .secondCol section li {
	list-style-image: url("../images/tabulky-icon-pdf.png");
	margin-bottom: 17px;
}

#tabulkyPage .secondCol section p {
	font-size:12px;
	margin:0px;
	margin-left: 2px;
}

#tabulkyPage .secondCol section li.doc {
	list-style-image: url("../images/tabulky-icon-doc.png");
}

#tabulkyPage .secondCol section li a:visited, .secondCol section li a:active {
	text-decoration: none;
}

#tabulkyPage .secondCol section h4 {
	margin:0px;
	font-family: "RobotoMedium";
	font-weight:normal;
	font-size: 16px;
	margin-top:-10px;
	margin-left: 2px;
}
