<link rel="stylesheet" href="{$basePath}/css/bootstrap.css">
<link rel="stylesheet" href="{$basePath}/css/api.css">

<h1>Mapakriminality.cz - API</h1>
<p>Dokumentaci API naleznete na <a href="http://docs.mapakriminality.apiary.io/" target="_blank" title="Mapakriminality Apiari">Apiari</a></a>
