<div class="mapDetailOverlayBox">
 	<div class="content">
		<div class="firstCol">
			<h2>Násilné trestné činy</h2>
			<table class="numbers">
				<tr class="first"><td><div class="legend"></div></td><td>cleared</td><td class="value">8 733</td></tr>
				<tr class="second"><td><div class="legend"></div></td><td>not-cleared</td><td class="value">1 206</td></tr>
			</table>
		</div>
		<div class="secondCol">
			<div class="percentage">
				<div class="value">8%</div>
				<div>crimes<br />cleared</div>
			</div>
		</div>
	</div>
	<div class="clearfix bottom"></div>
</div>